@use 'base/generales';
@use 'componentes/encabezado';
@use 'base/queris';
@use 'utilies/mixin';
@use 'componentes/menulinks';
@use 'pages/feed';
@use 'pages/resultados';
@use 'pages/noticias';
@use 'pages/califica';
@use 'pages/footer';
@use 'pages/login';
