
/* NOTICIAS */
#noticias {
    padding: 40px 20px; /*BOXMODEL*/
    text-align: center;
.news-item {
    display: grid;
    flex-direction: column; /* FLEXBOX */
    align-items: center;
    border-radius: 15px; /*BOXMODEL*/
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px; /*BOXMODEL*/
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.news-item img {
    width: 100%;
    height: 700px;
    object-fit: cover; 
    border-bottom: 4px solid #CCA0F3;  /*BOXMODEL*/
}

.news-content {
    padding: 20px; 
    text-align: left;
}

.news-content h2 {
    font-size: 2.8rem; 
    color: #111;
    margin-bottom: 10px; 
}

.news-content p {
    font-size: 1.5rem;
    color: #5E3F68;
    margin-bottom: 15px; /*BOXMODEL*/
    line-height: 1.5;
}

.news-content a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.news-content a:hover {
    text-decoration: underline;
}
}

#noticias h1 {
    font-size: 2.8rem;
    color: #0a0a0a;
    margin-bottom: 40px; /*BOXMODEL*/
    text-transform: uppercase;
    letter-spacing: 1px;
}

